<%= "ID :" + @item.id.to_s %>
<br>
<%= "Name :" + @item.name %>
<br>
<%= "Category :" + @item.category %>
<br>
<%= "Price :" + @item.item_price.to_s %>
<br>
<%= link_to '<button type="button">Back</button>'.html_safe, roles_path %>