<%= "Brand :" + @itemrepair.brand%>
<br>
<%= "Type :" + @itemrepair.type%>
<br>
<%= "IMEI :" + @itemrepair.imei%>
<br>
<%= "Damage :" + @itemrepair.damage%>
<br>
<%= "Status :" + @itemrepair.status%>
<br>
<%= "Description :" + @itemrepair.description%>
<br>
<%= link_to '<button type="button">Back</button>'.html_safe, roles_path %>